.main-header {
  background: #fff;
  padding: 20px 0;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}